%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = javascript_include_tag "mosaics_index.js"
  %body
    #centerer.centerer
      #selection.selection
        %table#selection_colors{:align => "center"}
          - @all_colors.each_slice(11).with_index do |slice, row|
            %tr
              - slice.each_with_index do |color, column|
                %td{:align => "center"}
                  .block{:id => "src#{11 * row + column}", :style => "background-color: #{color};"}
    #centerer.centerer
      #mosaic.mosaic
        %table{:align => "center"}
          - @mosaic.grid.split.each_slice(@mosaic.width).with_index do |slice, row|
            %tr
              - slice.each_with_index do |color, column|
                %td{:align => "center"}
                  - if color == 'transparent'
                    .block{:id => @mosaic.width * row + column}
                  - else
                    .block{:id => @mosaic.width * row + column, :style => "background-color: #{color};"}
    %div{:id => "APPDATA", :mosaic_id => @mosaic.id, :time_left => @mosaic.time_left, :time_total => @mosaic.time_total, :style => "display: none;"}
    %li{:id => "submitbutton", :style => "float: right;"}
      %div{:id => "timer-bar", :style => "width: 5em; height: 2em;"}
        %div{:id => "timer", :style => "margin: 0px; height: 2em; top: 0.25em", :onclick => 'submit();'}
