%html
  %body
    #centerer.centerer
      =form_tag({:controller => :mosaics, :action => :new}, {:method => :get}) do
        %label{:for => "info"} Instructions for the subject:
        %br
        %textarea{:type => "text", :name => "info", :style => "width: 25em; height: 5em;"}
          Click and Drag tiles to build your own Mosaic! You have 30 minutes to do so. Have fun!
        %br
        %br
        %label{:for => "width"} Width:
        %input{:type => "number", :name => "width", :value => @width}
        %br
        %label{:for => "height"} Height:
        %input{:type => "number", :name => "height", :value => @height}
        %br
        %label{:for => "time"} Time in minutes:
        %input{:type => "number", :name => "time", :value => @time_total}
        %br
        =submit_tag "Create Mosaic"
        %br
        %h3{:align => "center", :style => "color: red;"} #{flash[:notice]}