%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1{:align => "center"} Viewing Mosaic ##{@mosaic.id}
    #centerer.centerer
      #mosaic.mosaic
        %table{:align => "center"}
          - @mosaic.grid.split.each_slice(8).with_index do |slice, row|
            %tr
              - slice.each_with_index do |color, column|
                %td{:align => "center"}
                  .block{:id => 8 * row + column, :style => "background-color: #{color};"}
    %h2 Steps dump: #{@mosaic.steps}
    
    
    
    
-# adding a download button for download.features cucumber tests
= button_to 'download', mosaic_path(@mosaic), :method => :post
// , :confirm => 'Are you sure?'